body
{
    font-family: 'Malgun Gothic' !important;
}

code
{
    color: #0b5394 !important;
    background-color: #e8f0fe !important;
    border-radius: 4px !important;
    padding: 0px 3px !important;
}

pre
{   
    background-color: #f2f2f2 !important;
    padding: 0px !important;
    margin: 0px !important;
    page-break-inside: avoid !important;
}

pre code
{
    color: #333333 !important;
    padding: 0px !important;
    margin: 0px !important;
}

img
{
    page-break-inside: avoid !important;
}

table
{
    page-break-inside: avoid !important;
}